@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: black;
  color: white;
}
.left {
  width: 25vw;
  padding: 10px;
}
.right {
  width: 75vw;
  position: relative;
}
.close {
  display: none;
}

.home ul li {
  display: flex;
  gap: 15px;
  width: 14px;
  list-style: none;
  padding-top: 14px;
  font-weight: bold;
}
.library {
  min-height: 77vh;
  position: relative;
}
.heading {
  display: flex;
  gap: 15px;
  width: 100%;
  padding-top: 14px;
  font-weight: bold;
  padding: 23px 14px;
  align-items: center;
  font-size: 13px;
}
.heading img {
  width: 30px;
}
.footer {
  display: flex;
  position: absolute;
  bottom: 0;
  font-size: 10px;
  color: grey;
  gap: 13px;
  padding: 10px;
}
.footer a {
  color: grey;
}
.right {
  margin: 16px 0;
}
.hamburger {
  display: none;
}
.hamburgerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(34 34 34);
}
.header > * {
  padding: 20px;
}
.spotifyPlaylists {
  padding: 16px;
}
.spotifyPlaylists h1 {
  padding: 16px;
}
.cardContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 30px;
  overflow-y: auto;
  max-height: 70vh;
}
.card {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
  position: relative;
}
.card > * {
  padding-top: 10px;
}
.card img {
  width: 100%;
  object-fit: contain;
}
.play {
  position: absolute;
  top: 168px;
  right: 17px;
  width: 28px;
  height: 28px;
  background-color: #1fdf64;
  border-radius: 50%;
  /* border: 2px solid â˜ #000; */
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 1s ease-out;
}
.buttons > * {
  margin: 0 12px;
}
.signupbtn {
  background-color: rgb(34 34 34);
  color: rgb(156, 148, 148);
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}
.signupbtn:hover {
  font-size: 17px;
  color: white;
}
.loginbtn {
  background: white;
  border-radius: 21px;
  color: black;
  padding: 10px;
  width: 79px;
  cursor: pointer;
  font-size: 16px;
}
.loginbtn:hover {
  font-weight: bold;
  font-size: 17px;
}
.playbar {
  position: fixed;
  bottom: 30px;
  filter: invert(1);
  width: 90%;
  background: #dad5d5;
  border-radius: 10px;
  width: 71vw;
  padding: 12px;
  min-height: 40px;
}
.songbuttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.songList ul {
  padding: 0 12px;
}
.songList ul li {
  list-style-type: decimal;
  display: flex;
  gap: 12px;
  cursor: pointer;
  padding: 12px 0;
  border: 1px solid white;
  border-radius: 5px;
  padding: 13px;
  margin: 12px 0;
  font-size: 16px;
  justify-content: space-between;
}
.songList {
  height: 414px;
  overflow: auto;
  margin-bottom: 44px;
}
.songList .info {
  font-size: 13px;
  width: 344px;
}
.info div {
  word-break: break-all;
}
.playnow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.playnow span {
  font-size: 15px;
  width: 64px;
  padding: 12px;
}
.seekbar {
  position: absolute;
  height: 4px;
  width: 97%;
  background: black;
  bottom: 0;
  margin: 6px;
  cursor: pointer;
}
.circle {
  width: 13px;
  height: 13px;
  border-radius: 13px;
  background-color: black;
  position: relative;
  bottom: 6px;
  left: 0%;
  transition: left 0.5s;
}
.songbuttons img {
  cursor: pointer;
}
.abovebar {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  /* width: 100%; */
}
.songinfo,
.songtime {
  color: black;
  padding: 0 12px;
  width: 250px;
}
.songtime {
  color: black;
  padding: 0 12px;
  width: 125px;
}
.volume {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.timevol {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 1200px) {
  .left {
    position: absolute;
    left: -120%;
    transition: all 0.5s;
    z-index: 1;
    width: 373px;
    background-color: black;
    padding: 0;
  }
  .left .close {
    position: absolute;
    right: 31px;
    top: 25px;
    width: 29px;
  }
  .right {
    width: 100vw;
    margin: 0;
  }
  .songinfo,
  .songtime {
    width: auto;
  }
  .timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 13px;
  }
  .playbar {
    width: calc(100vw - 55px);
  }
  .seekbar {
    width: calc(100vw - 65px);
  }
  .card {
    width: 44vw;
  }
  .cardContainer {
    margin: 0;
    justify-content: center;
  }
  .hamburger {
    display: block;
  }
  .close {
    display: block;
  }
  .abovebar {
    flex-direction: column;
    gap: 23px;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .card {
    width: 80vw;
  }
}
